.t{font-size:14px;color:#222;font-weight:bold;}
.t>a{color:#222;}
.t>a:hover{color:#00a1d6}
.t2{font-weight:bold;}
.uname{color:#6d757a}
.user_level{padding:22px 0 0 36px;background-image:url(../icons/Level-icons.png);font-size:0}
.nohide{display:block;}

